/__pycache__/
/environment/
/.venv/
/unsloth_compiled_cache/
/model/
/lora_model/
/outputs/
/llama.cpp/
.env
**/__pycache__/
/build_temp/
/build/
appimagetool-x86_64.AppImage
Canis.lab_Installer-x86_64.AppImage
CanisLab_Installer.AppDir
/release/